  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
  

    <h1 class="titulo_1">Mi Club</h1>
    <div class="bajada"><p>Unite al club de<strong> INNATO </strong> y recibí todas nuestras promociones
         </p><p2>¡No te quedes afuera!</p2></div>
    <div>

    <div class="container">
      <h1 class = "titulo_1">Formulario</h1>
        <div class="bajada">      
          <form action="validar.html" method="get" id="Formulario">
            <div class="container_productos">
            <input type="text" id="nombre" name="Nombre" placeholder="Nombre y Apellido" required>
            <br>
            </div>
            <div class="container_productos">
            <input type="email" id="email" name="Email" placeholder="Email" required>
            <br>
            </div>
            <div class="container_productos">
            <input type="edad" id="edad" name="Email" placeholder="Edad" min="1" max="99">
            <br>
            </div>
            <div class="container_productos">
            <input type="text" id="provincia"placeholder= "Ingresar provincia">
            </label>
            <br>
            </div>
            <div class="container_productos">
            <button type="submit" id="submit">Buscar provincia</button>
            <br>  
            </div>

            <fieldset>
              <legend>Género</legend>
              <input type="radio" id="genero" name="Genero" value="Mujer">Mujer 
              <input type="radio" id="genero" name="Genero" value="Hombre">Hombre
              <input type="radio" id="genero" name="Genero" value="Otro" >Otro 
            </fieldset>
            <br>
            
            <button type="submit">Enviar</button> 
                 
          </form>
          </div>
            <pre id ="results">
              
            </pre> 
          </div>
        </div>  
      </div>


    </div>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./app.js"></script>
  </body>
  </html>