  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/91b62dc49c.js" crossorigin="anonymous"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <header class="header-container">
       <a href="./index.html" class="header-nav-enlace">
         <img src="./imagenes/LOGO.png" alt="innato tienda gourmet" class="header-nav-logo"></a>
         
       <input type="checkbox" id="check">
       <label for="check" class="check_btn">
        <i class="fa fa-bars"></i>
       </label>


       <nav>
    
            <ul class="nav-bar">
                <li><a class="nav-bar-link" href="./index.html">Inicio</a></li>
                <li><a class="nav-bar-link" href="./productos.html">Productos</a></li>
                <li><a class="nav-bar-link" href="./club.html">Club</a></li>
    
                <li><a class="nav-bar-link" href="./nosotros.html">Nosotros</a></li>
                <li><a class="nav-bar-link" href="./contacto.html">Contacto</a></li>
                
            </ul>
        </nav>

       
    </header>     

      

    <a href="./index.html" class="header-nav-enlace">
      <img src="./imagenes/LOGO.png" alt="innato tienda gourmet" class="header-nav-logo"></a>
      
    <input type="checkbox" id="check">
    <label for="check" class="check_btn">
     <i class="fa fa-bars"></i>
    </label>


    <nav>
 
         <ul class="nav-bar">
             <li><a class="nav-bar-link" href="./index.html">Inicio</a></li>
             <li><a class="nav-bar-link" href="./productos.html">Productos</a></li>
             <li><a class="nav-bar-link" href="./club.html">Club</a></li>
 
             <li><a class="nav-bar-link" href="./nosotros.html">Nosotros</a></li>
             <li><a class="nav-bar-link" href="./contacto.html">Contacto</a></li>
             
         </ul>
     </nav>

    
 </header>
  <body>
    
  

    <h1 class="titulo_1">Mi Club</h1>
    <div class="bajada"><p>Unite al club de<strong> INNATO </strong> y recibí todas nuestras promociones
         </p><p2>¡No te quedes afuera!</p2></div>
    <div>

    <div class="container">
      <h1 class = "titulo_1">Formulario</h1>
        <div class="bajada">      
          <form action="validar.html" method="get" id="Formulario">
            <div class="container_productos">
            <input type="text" id="nombre" name="Nombre" placeholder="Nombre y Apellido" required>
            <br>
            </div>
            <div class="container_productos">
            <input type="email" id="email" name="Email" placeholder="Email" required>
            <br>
            </div>
            <div class="container_productos">
            <input type="edad" id="edad" name="Email" placeholder="Edad" min="1" max="99">
            <br>
            </div>
            <div class="container_productos">
            <input type="text" id="provincia"placeholder= "Ingresar provincia">
            </label>
            <br>
            </div>
            <div class="container_productos">
            <button type="submit" id="submit">Buscar provincia</button>
            <div class = '.container1'>
              
            </div>
            <br>  
            </div>

            <fieldset>
              <legend>Género</legend>
              <input type="radio" id="genero" name="Genero" value="Mujer">Mujer 
              <input type="radio" id="genero" name="Genero" value="Hombre">Hombre
              <input type="radio" id="genero" name="Genero" value="Otro" >Otro 
            </fieldset>
            <br>
            
            <button type="submit">Enviar</button> 
                 
          </form>
          </div>
            <pre id ="results">
              
            </pre> 
          </div>
        </div>  
      </div>

      <footer>
        <section class="container">
          <div class="footer-img">
            <img src="./imagenes/LOGO.png" alt="logo" class="footer-logo">
          </div>
          
            <ul class="footer-flex">
              <li><a href="./index.html">Inicio</a></li>
              <li><a href="./productos.html">Productos</a></li>
              <li><a href="./club.html">Club</a></li>
              <li><a href="./nosotros.html">Nosotros</a></li>
              <li><a href="./contacto.html">Contacto</a></li>
            </ul>
          
          <div class="sociales footer-flex">
            <a href="https://es-la.facebook.com"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.instagram.com"><i class="	fa fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="	fa fa-twitter-square"></i></a>
            <a href="https://ar.linkedin.com"><i class="fa fa-linkedin-square"></i></a>
          </div>
        </section>
    
      </footer>

    </div>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./app.js"></script>
  </body>
  </html>