<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gourmet, fiambre, vinos, aceite, delicatessen">
    <meta name="description" content="Tienda gourmet">
    <title>INNATO</title>
    <link rel="stylesheet" href="./estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/91b62dc49c.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
  <header class="container">

    <nav>
        
      <a href="#" class="logo">Innato</a>
      <button class="hamburger" id="hamburger">
        <i class="fa fa-bars"></i>
      </button>

      <ul class="navbar">
        <li><a class="nav-link active" href="./index.html">inicio</a></li>
        <li><a class="nav-link" href="./productos.html">productos</a></li>
        <li><a class="nav-link" href="./club.html">club</a></li>
        <li><a class="nav-link" href="./nosotros.html">nosotros</a></li>
        <li><a class="nav-link" href="./contacto.html">contacto</a></li>
          
      </ul>
        
    </nav>   

  </header>

    <main>

        <section class="container" id="contacto">

            <div class="contacto-container">
              <div class="form">
                <div class="titulo">
                  <h2>contactanos</h2>
                  <p class="error"></p>
                </div>
                <form name="form-contact" method="POST" data-netlify="true" id="formulario">
                  <div class="control">
                    <label for="nombre">nombre</label>
                    <input type="text" name="nombre" id="nombre">
                    
                  </div>
                  <div class="control">
                    <label for="email">email</label>
                    <input type="text" name="email" id="email">
                    
                  </div>
                  <div class="control">
                    <label for="message"></label>
                    <textarea name="message" id="message"  placeholder="Dejanos tu mensaje o pregunta." cols="30" rows="10"></textarea>
                  </div>
                  <input type="submit" value="enviar" id="submit-btn">
      
                </form>
              </div>
              <div class="info flex">
                <div class="dir flex">
                  <i class="fa-solid fa-location-dot"></i>
                  <p> juramento 1515 CABA</p>
                </div>
                <div class="telefono flex">
                  <i class="fa-solid fa-phone"></i>
                  <p>123-456-789</p>
                </div>
                <div class="horario flex">
                  <i class="fa fa-clock-o"></i> 
                  <p> 9.00 a 20.00</p>
                </div>
               
              </div>
              <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105073.23949906467!2d-58.43329845000001!3d-34.615823750000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1666055566380!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
              </div>
            </div>
          </section>  
      

    </main>

    <footer>
      <section class="container">
        <div class="footer-img">
          <img src="./imagenes/LOGO.png" alt="logo" class="footer-logo">
        </div>
        
          <ul class="footer-flex">
            <li><a href="#home">inicio</a></li>
            <li><a href="./productos.html">productos</a></li>
            <li><a href="./club.html">club</a></li>
            <li><a href="./contacto.html">nosotros</a></li>
            <li><a href="./contacto.html">contacto</a></li>
          </ul>
        
        <div class="sociales footer-flex">
          <a href="https://es-la.facebook.com"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com"><i class="	fa fa-instagram"></i></a>
          <a href="https://twitter.com"><i class="	fa fa-twitter-square"></i></a>
          <a href="https://ar.linkedin.com"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </section>
  
    </footer>

    <script src="./js/script.js"></script>
</body>
</html>