

body{
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(to top, #cfd9df 0%, #3e4041 100%);*/
    margin: 0;
    height: 100vw;
    
    
   /* background-repeat: no-repeat;
    background-size: cover;*/
  
  
}
  
.bajada{
    font-family: 'Raleway', sans-serif;
   width: 90%;
   margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
 margin-right: auto;
  text-align: center;
  text-decoration: none;
  
 
}

.container_productos{
    width: 80%;
    max-width: 1300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
align-items: center;
overflow: hidden;
flex-wrap: wrap;
flex-direction: row;

    
}


.titulo_1{
    width: 100%;
    height: 100px;
    color:#fff;
    background-image: linear-gradient(120deg, #f6d365, #de3c0f, #d66b4e, #deb50f );
    background-size: 200% 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: cambiar 10s infinite;
    font-family: 'Raleway', sans-serif;
    
  
}
strong{
    color: rgb(238, 78, 10);
}
@keyframes cambiar{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}

}

.seleccion_producto{
   position: relative;
   margin: 15px;
   display: flex;
}
.seleccion_producto img{
width: 220 px;
height: 220px;
border-radius: 6px;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.308);



}
.titulo_seleccion {
   
    color: #fff;
    font-size: 30px;
    position: absolute;
    
    width: 100%;
    height: a;
    background: rgba(244, 185, 10, 0.891);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    
}
.seleccion_producto:hover .titulo_seleccion{
    transform: scale(1);} 

.separador{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #919499 100%);
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre_categoria{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    
}
.categorias_productos{
    width: 80%;
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
   

   

    
}
.categorias{
    
    box-shadow: 0 4px 8px lightslategray, 0 6px 20px rgba(0, 0, 0, 0.19) ;
   display: flex;
  justify-content: space-between;
    width: 200px;
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.categorias img{
    width: 200px;
    height: auto;
    
}
.nombre_producto {
    text-align: center;
    padding: 15px;
    font-family: 'Raleway', sans-serif; 
    font-size: 1em;
    color: rgb(80, 77, 77);
  
}
.nombre_producto h3{
    font-size: 15px;
    color: #696565;
    text-align: center;
}

.futuro nav{
    width: 100%;
    height: 200px;
    background-color: #4a4544;
}
/*
.footer_productos{
    background-color: rgb(15, 14, 14);
    width: 100%;
    height: 200px;
}*/
/*footer///////////////////////////////////////////////////*/
footer{
    display: block;
    width: 100%;
    height: 300px;
    align-content: center;
    align-items: center;
    
}
.footer_productos{
   
    font-size: 12px;
    color: rgb(113, 69, 11);
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 0;
    height: 200px;
   
   
   

} 

.imagen_footer{
    width: 100%;
    height: 300px;
    position: absolute;
    margin: 0;
    overflow: hidden;
 
}
/*o
.transparencia{
background-color: black;
pacity: .8;
width: 100%;
height: 300px;
position: absolute;
}*/


.iconos{
    color: #f7cb09;
    position: relative;
   top:  50px;
   padding: 5px;
   width: 50px;
   size: 50px;
  font-size: 30px;
  
   
} 



.logo1 img{
    display: flex;
    position: relative;
    width: 90px;
    height: auto;
left: 45%;
top: 100px;
align-items: center;
   
    
    
    
    
}
.linea{
    width: 100%;
    height: 1px;
    position: relative;
    background-color: rgb(238, 172, 6);
    margin-top: 150px;
   display: flex;
  

}


.copyrigth{
    color: #f7cb09;
    position: relative;
   text-align: center;
    font-family: 'Raleway', sans-serif; 
   margin-top: 10px;
}/*fin footer///////////////////////////*/


nav {
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    padding: 1.2em;
    background-color:black;
  
}
navbar {
    display: flex;
    
}
.navbar li {
    margin-left: 16px;
    position: relative;
    z-index: 2;
    transition: color 0.5ms;
}
.navbar li::before {
    content: '';
    
    background-image: linear-gradient(120deg, #f6d365, #de3c0f, #d66b4e, #deb50f );


    width: 100%;
    height: 300%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
a, p, button {
    font-family: 'Quattrocento Sans', sans-serif;
}
  
ul, li {
    list-style-type: none;
}
  
a{
    text-decoration: none;
    color: #fff;
}

.navbar li:hover {
    color: #fff;
}

.navbar li:hover::before {
    top: 50%;
    opacity: 1;
}

.navbar a {
    
    padding: .7em 1.25em;
}
