

body{
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(to top, #cfd9df 0%, #3e4041 100%);*/
    margin: 0;
    height: 100vw;
    box-sizing: border-box;
    
   /* background-repeat: no-repeat;
    background-size: cover;*/
  
  
}
/*------------------header y nav----------------------------*/
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px ;
    font-family: 'Raleway', sans-serif;
     margin: 0;
     flex-wrap: wrap;
}
.header .logo_innato img{
    width: 70px;
    height: auto;
 margin-bottom:  5px;
 margin-left: 30px;
   
   
}
.checkbtn{
    color: white;
    float: right;

    
    
}
#check{
    display: none;
}

.header .navbar .nav-link{
    list-style: none;
     align-items: center;
    
}
  
.header .navbar li{
    display: inline-block;
    padding: 0 10px;
   margin-bottom: 10px;
    align-items: inherit;
    
}

.header .navbar li a:hover{
    color: #e69508;

}

.header .navbar a{
    font-size: 1em;
    color: white;
    text-decoration: none;
   
}



/*--------------fin header----------------------------------*/


/*---------------------imagenes para eleccion del catalogo-------------*/
.bajada{
    font-family: 'Raleway', sans-serif;
   width: 90%;
   margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
 margin-right: auto;
  text-align: center;
  text-decoration: none;
  
 
}

.container_productos{
    width: 80%;
    max-width: 1300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
align-items: center;
overflow: hidden;
flex-wrap: wrap;
flex-direction: row;

    
}


.titulo_1{
    width: 100%;
    height: 100px;
    color:#fff;
    background-image: linear-gradient(120deg, #f6d365, #de3c0f, #d66b4e, #deb50f );
    background-size: 200% 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: cambiar 10s infinite;
    font-family: 'Raleway', sans-serif;
    
  
}
strong{
    color: rgb(238, 78, 10);
}
/*-------------gradient con animacion-------------*/
@keyframes cambiar{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}

}
/*------------- fin gradient con animacion-------------*/
.seleccion_producto{
   position: relative;
   margin: 15px;
   display: flex;
}
.seleccion_producto img{
width: 220 px;
height: 220px;
border-radius: 6px;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.308);



}
.titulo_seleccion {
   
    color: #fff;
    font-size: 30px;
    position: absolute;
    
    width: 100%;
    height: auto;
    background: rgba(244, 127, 10, 0.891);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    
}
.seleccion_producto .titulo_seleccion{
transition: all 0.5s;
}
.seleccion_producto:hover .titulo_seleccion{
    transform: scale(1);} 
/*-------------------fin de imagen eleccion----------------*/

/*------------------------------galeria-----------------------------*/
.separador{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #919499 100%);
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre_categoria{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    
}
.categorias_productos{
    width: 80%;
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
    cursor: pointer;
 

   

    
}
.categorias{
    
    box-shadow: 0 4px 8px lightslategray, 0 6px 20px rgba(0, 0, 0, 0.19) ;
   display: flex;
  justify-content: space-between;
    width: 200px;
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.categorias img{
    width: 200px;
    height: auto;
    
}
.nombre_producto {
    text-align: center;
    padding: 15px;
    font-family: 'Raleway', sans-serif; 
    font-size: 1em;
    color: rgb(80, 77, 77);
  
}
.nombre_producto h3{
    font-size: 15px;
    color: #ef8308;
    text-align: center;
}
.categorias_productos .categorias{
    transition: all 0.3s;
}
.categorias_productos .categorias:hover{
transform: scale(1.1);
}


/*
.footer_productos{
    background-color: rgb(15, 14, 14);
    width: 100%;
    height: 200px;
}*/
/*footer///////////////////////////////////////////////////*/
footer {
    
    background-color: rgba(87, 85, 85, 0.863);
    position: relative;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 90px;
    position: absolute;
    top: -10%;
}

footer ul {
    padding-top: 5rem;
    list-style: none;
}

footer ul a {
    color: #fff;
    text-decoration: none;
    
}

.sociales a {
    color: rgb(238, 134, 7);
    font-size: 2rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.308);
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.footer-flex li,
.sociales a {
    margin: 1rem 1.5rem;
}

