<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNATO</title>
    <meta name="keywords" content="gourmet, fiambre, vinos, aceite, delicatessen">
    <meta name="description" content="Tienda gourmet">
    <link rel="stylesheet" href="./estilos.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/site.webmanifest">
 <link rel="stylesheet" href="./estilos.css">
</head>

<body>

    <header class="container">

        <nav>
            
            <a href="#" class="logo">Innato</a>

            <ul class="navbar">
                <li><a class="nav-link" href="#home">inicio</a></li>
                <li><a class="nav-link" href="#productos">productos</a></li>
                <li><a class="nav-link" href="#club">club</a></li>
                <li><a class="nav-link" href="#about">nosotros</a></li>
                <li><a class="nav-link" href="#contact">contacto</a></li>
                
            </ul>
            
        </nav>
      
        <div class="hero-text">
          <h1>Los sabores del mundo</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, repellendus.</p>
          <button>Saber más</button>
        </div>
      
  
    </header>

</body>
</html>