<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNATO</title>
 
<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon_io/favicon-32x32.png">

</head>
<body>
    <header>
        <img src="./header.png" alt="header1">
    </header>
    <nav>
        <a class="nav" href="./index.html">Inicio</a>
        <a class="nav" href="./productos.html">Sobre mi</a>
        <a   class="nav" href="./club.html">Contacto</a>
        <a class="nav" href="./contacto.html">Registrate</a>
      
    </nav>

</body>
</html>