*{
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(to top, #cfd9df 0%, #3e4041 100%);*/
    margin: 0;
   
    box-sizing: border-box;
   
   
    
   /* background-repeat: no-repeat;
    background-size: cover;*/
  
  
}
/*------------------header y nav----------------------------*/
header {
    display: flex;
    height: 85px;
    justify-content: space-between;
    background: black;
    
    align-items: center;
    font-family:  'Roboto Flex', sans-serif;
    
}
.innato{
    color: #fff;
}
.header-container{
  
    max-width: 1200px;
    margin: 0 auto;
   

   
}


.header-nav-logo{
    width: 90px;
    height: auto;
    
   margin-left: 50px;
   
}

.nav-bar{
    display: flex;
    align-items: flex-end;
    
}
.nav-bar-link{
    
}
.nav-bar a{
   
    text-decoration: none;
    color: white;
    padding: 10px;
   align-items: flex-end;
    list-style: none; 
    list-style-type: none;
    margin-right: 30px;
    
}

ul, li {
    list-style-type: none;
}
.header-container .nav-bar li a:hover{
    color: rgb(242, 137, 9);
}
#check{
    display: none;
}
.check_btn{
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
   display: none;
}
/*-----------imagen de cabecera-----*/
.imagen-cabecera{
    width: 500px;
    height: 700px;
   background-color:  rgb(168, 25, 25);
   display: flex;
   justify-content: center;
   

}

 





.imagen-cabecera .texto-imagen-vabecera{
    position: absolute;
    align-items: center;
}




.main-contenido{
   
  
        width: 100%;
        max-width: 1200px;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
       flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    
}

section .info{
    font-family:  'Roboto Flex', sans-serif;
    text-align: justify;
    width: 100%;
   
    justify-content: center;
   padding-left: 250px;
   padding-right: 250px;
  
}
.info{
    text-align: justify; 
   
    justify-content: center;
}
section h2{
    
    font-family: 'Raleway', sans-serif;
    font-size: clamp(2rem, 1.3571rem + 2.8571vw, 3.5rem);
    padding: 30px;
    
}
.club-titulo{
    font-family: 'Raleway', sans-serif;
    font-size: clamp(2rem, 1.3571rem + 2.8571vw, 3.5rem);
    padding: 30px;
}

.imagen-main{
    width: 300px;
    height: auto;
   left: 700px;
   bottom: 280px;
  
  
  
}

.imagen-main img{
    z-index: 1;
    opacity: 0.3;
   
 
   
   
}
main section .imagen.main{
    top: 100px;
}
/*SLIDER-----------------------------------------*/
.slider{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -150px;
    background: #d2d0ce;
   
}
.slider ul{
    padding: 0%;
    display: flex;
    width: 400%;

    animation: slide 20s infinite alternate;
    animation-timing-function: linear;
    transition: all .09s;

}
.slider li{
    list-style: none;
    width: 100%;
}
.slider li img{
    width: 700px;
    height: 300px;


}

@keyframes slide{
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}
    
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}

    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}






}

/*SLIDER-----------------------------------------*/

.club{
    margin-top: 50px;
    text-align: center; 
    font-family:  'Roboto Flex', sans-serif;
    font-weight: 700;
    
}
 strong{
    color: rgb(238, 78, 10);
  font: bolder;
}
.club-tarjeta img{
    width: 600px;
    height: auto;
    cursor: pointer;
    position: relative;
    padding: 30px;
    z-index: 1;
}
.club .forma{
    width: 200px;
    height: 400px;
    background-color: rgb(238, 78, 10);
   /* opacity: 0.7;*/
    position: relative;
    margin-left: 60%;
    bottom: 370px;
    border-radius: 0 50px 0 0;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2.5rem;
    font-family:  'Roboto Flex', sans-serif;
  
}
.club-texto{
    font-family:  'Roboto Flex', sans-serif;
    font-size: 2rem;
    position: relative;
    margin-top: -20px;
   
}

.club-texto-beneficios {
    font-size: 1.5rem;
    color: rgb(90, 94, 94);
    padding: 20px;
    
    
}

.club-ofrece{
    margin-top: 40px;
    
}

.linea{
    background-color: #ee4e0a;
    width: 60%;
    height: 1px;
    margin: 0 auto;

}
/*
.circulo{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 5px solid rgb(238, 78, 10);
    margin: auto;
   
    

}
.club .invitacion .beneficios{
    font-size: 2rem;
    color: rgb(76, 78, 80);
    padding: 20px;
    
   
}*/

/*
.parrafo-forma p{
   
    
    
    
    margin: 50%;
   
  
}
.club-tarjeta img:hover{

}
.div2 {
    background-color: #d66b4e;
    border-radius: 0px 150px 0px 0px;*/

h1{
    font-family: 'Raleway', sans-serif;
    font-size: clamp(2rem, 1.3571rem + 2.8571vw, 3.5rem);
}
/*
h2{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 4rem;
    padding: 30px;
}*/


/*---------------------------video*/
.video-contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    border: 10px solid #ee4e0a;
    border-radius: 5px;
    

    
}
video{
    width: 100%;
    
    top: -200px;
      display: flex;
      align-items: flex-end;
 
}
.video h2{
    text-align: center;
    color: #ee4e0a;
   
   
    padding: 30px;
   
}
.titulo-video{
    color: #696564;
    font-size: 3rem;
    font-family: 'Roboto Flex', sans-serif;
    padding: 30px;
}
.video-boton a{
    font-family: 'Raleway', sans-serif; 
    
 
    background-color: #ee4e0a;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px lightslategray, 0 6px 20px rgba(0, 0, 0, 0.19) ;
    text-decoration: none;
    
}
.video-boton{
    margin-bottom: 20px;
}
/*--------footer------------------------*/
footer {
    
    background-color: black;
    position: relative;
    font-family:  'Roboto Flex', sans-serif;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 100px;
    position: absolute;
    top: -10%;
}

footer ul {
    padding-top: 5rem;
    list-style: none;
}

footer ul a {
    color: #fff;
    text-decoration: none;
    
}

.sociales a {
    color: rgb(238, 134, 7);
    font-size: 2rem;
   
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.footer-flex li,
.sociales a {
    margin: 1rem 1.5rem;
}


.scrollup {
    cursor: pointer;
    color: #fff;
    background-color: #ee4e0a;
    border: 2px solid #ee4e0a; 
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10;
}



/*--------------------------breakpoint tablet-----------------*/
@media (max-width: 850px){
    .header-nav-logo{
        width: 120px;
        height: auto;
        margin-top:  50px;
        transition: all 0.5s;
    }
    .nav-bar a{
       font-size: 1.1rem;
       transition: all 0.5s;
       font-weight: bold;
    }
    header{
        height: 100px;
    }
   .video-boton{
    top: 15px;
    
   }
    }
    /*--------------------------breakpoint movil-----------------*/
      

@media (max-width: 460px){
    .check_btn{
        display: block;
        margin-right: 40px;
        font-size: 2rem;
    }
    body{
        background: #bfc1c3;
    }
    .header-nav-logo{
        width: 80px;
        height: auto;
        margin-bottom: 45px;
    }
    .menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 300px;
        background: black;
      left: 0;
        right: -100%;
        transition: 0.8s;
        top: 100px;
        padding: 40px;
    }
    
    
    .nav-bar{
        color: #fff;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
    }
    .nav-bar li{
        padding: 10px;
    }
    footer{
        font-size: 0.75rem;
     
      
    }
    .titulo-video{
        font-size: 1.5rem;
        text-align: center;
    }
    section .info{
        padding-left: 60px;
        padding-right: 60px;
    }
    .club-tarjeta img{
        width: 400px;
        height: auto;
        cursor: pointer;
        position: relative;
        padding: 30px;
        z-index: 1;
    }

.footer-flex li,
.sociales a {
    margin: 1rem 1rem;
}

.club .forma{
    width: 100px;
    height: 200px;
    background-color: rgb(238, 78, 10);
   /* opacity: 0.7;*/
    position: relative;
   margin-right: 40px;
    bottom: 240px;
    border-radius: 0 50px 0 0;
   
  
}
    
    
    #check:checked + .menu{
      background: #030303;
      display: block;
      transition: all 0.8s;
    
}
