<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="./nosotros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/91b62dc49c.js" crossorigin="anonymous"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>


<body>
    

    <header class="header">
        <div class="logo_innato">
            <img src="./imagenes/LOGO.png" alt="innato tienda gourmet">
        </div>
       
        <nav>
    
            <ul class="navbar">
                <li><a class="nav-link" href="./index.html">Inicio</a></li>
                <li><a class="nav-link" href="./productos.html">Productos</a></li>
                <li><a class="nav-link" href="./club.html">Club</a></li>
    
                <li><a class="nav-link" href="./nosotros.html">Nosotros</a></li>
                <li><a class="nav-link" href="./contacto.html">Contacto</a></li>
                
            </ul>
        </nav>
    </header>

<p>Somos la marca gourmet por excelencia con más de 20 años en el mercado argentino, a la vanguardia del sabor local. Nuestros productos son líderes o únicos en el mercado.

    Además de nuestros productos nacionales, traemos una extensa variedad de productos exclusivos de 22 marcas provenientes de Brasil, España, Italia, Francia, Dinamarca, Inglaterra, Bélgica y Armenia, siempre con garantía de calidad.
    
    Te proponemos innovar en la cocina, ser creativo y comer rico. Buscamos la novedad permanentemente, por eso nuestros productos tienen ese "toque secreto" para que sorprendas a tus agasajados. ¡Atrevete a ser gourmet!
    
    San Giorgio es una marca de Geson S.A., empresa líder en elaboración, importación y distribución de productos gourmet, que desde hace décadas representa con continuidad marcas históricas, muy bien posicionadas en el mercado.</p>




    <footer>
        <section class="container">
          <div class="footer-img">
            <img src="./imagenes/LOGO.png" alt="logo" class="footer-logo">
          </div>
          
            <ul class="footer-flex">
              <li><a href="./index.html">Inicio</a></li>
              <li><a href="./productos.html">Productos</a></li>
              <li><a href="./club.html">Club</a></li>
              <li><a href="./nosotros.html">Nosotros</a></li>
              <li><a href="./contacto.html">Contacto</a></li>
            </ul>
          
          <div class="sociales footer-flex">
            <a href="https://es-la.facebook.com"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.instagram.com"><i class="	fa fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="	fa fa-twitter-square"></i></a>
            <a href="https://ar.linkedin.com"><i class="fa fa-linkedin-square"></i></a>
          </div>
        </section>
    
      </footer>

</body>
</html>