*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Roboto Flex', sans-serif;
}

header {
    display: flex;
    color: rgb(210, 40, 40);
    height: 85px;
    justify-content: space-between;
    background: black;
    
    align-items: center;
    
}
.header-container{
  
    max-width: 1200px;
    margin: 0 auto;
   

   
}


.header-nav-logo{
    width: 70px;
    height: auto;
    
   margin-left: 50px;
   
}

.nav-bar{
    display: flex;
    align-items: flex-end;
    
}
.nav-bar-link{
    
}
.nav-bar a{
   
    text-decoration: none;
    color: white;
    padding: 10px;
   align-items: flex-end;
    list-style: none; 
    list-style-type: none;
    margin-right: 30px;
    
}

ul, li {
    list-style-type: none;
}
#check{
    display: none;
}
.check_btn{
    color: rgb(242, 137, 9);
    cursor: pointer;
    font-size: 1.5rem;
   display: none;
}

.imagen-cabecera{

}
.imagen-cabecera img{
    
   width: 1200px;
   height: auto;
}
.img-cab{
    display: flex;
    margin: 0% auto;
}/*
.main-contenido{
    background-color: aqua;
}*/
.main-titulo{
    text-align: center;
    margin-top: 100px;
    
}

article .info{
    font-family:  'Roboto Flex', sans-serif;
    text-align: justify;
}
.info{
    text-align: justify;
}

/*SLIDER-----------------------------------------*/
.slider{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
   
}
.slider ul{
    padding: 0%;
    display: flex;
    width: 300%;
    animation: slide 10s infinite;

}
.slider li{
    list-style: none;
    width: 100%;
}
.slider li img{
    width: 700px;


}
@keyframes slide{
    0%{ margin-left: 0%;}
    30%{ margin-left: 0%;}
    
    35%{ margin-left: -100%;}
    60%{ margin-left: -100%;}

    66%{ margin-left: -200%;}
    100%{ margin-left: -200%;}





}

/*SLIDER-----------------------------------------*/

.club{
    margin-top: 50px;
    text-align: center;
}
strong{
    color: rgb(238, 78, 10);
}
.club-tarjeta img{
    width: 600px;
    height: auto;
    cursor: pointer;
    
    padding: 30px;
}
/*.div2 {
    background-color: #d66b4e;
    border-radius: 0px 150px 0px 0px;*/

h1{
    font-size: 4rem;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: clamp(2rem, 1.3571rem + 2.8571vw, 3.5rem);
    padding: 30px;
}

.main-contenido{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}



footer {
    
    background-color: rgba(87, 85, 85, 0.863);
    position: relative;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 90px;
    position: absolute;
    top: -10%;
}

footer ul {
    padding-top: 5rem;
    list-style: none;
}

footer ul a {
    color: #fff;
    text-decoration: none;
    
}

.sociales a {
    color: rgb(238, 134, 7);
    font-size: 2rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.308);
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.footer-flex li,
.sociales a {
    margin: 1rem 1.5rem;
}

