<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNATO</title>
    <link rel="stylesheet" href="./css-producto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
 
</head>
<body> 

<header>
    <nav>
             <a class="nav-link" href="#home">inicio</a>
            <a class="nav-link" href="#productos">productos</a>
            <a class="nav-link" href="#club">club</a>
            <a class="nav-link" href="#about">nosotros</a>
            <a class="nav-link" href="#contact">contacto</a>
            
    </nav>
</header>

    <h1 class="titulo_1">Nuestro catálogo</h1>
    <div class="bajada"><p>En <strong> INNATO </strong>podés encontrar una gran variedad de productos importados, vinos, cáfe, aceites, especias, aderezos, delicatessen  de todo el mundo
         </p></div>

    <!--cabecera de productos start-->
   
  <section class="container_productos">


<div class="seleccion_producto"> <img src="./imagenes de productos/vino.png" alt="vinos nacionales e importados">
    <p class="titulo_seleccion">Vinos</p> </div>
<div class="seleccion_producto"> <img src="./imagenes de productos/aceite.png" alt="aceite nacionales e importados">
     <p class="titulo_seleccion">Aceite</p> </div>
<div class="seleccion_producto"> <img src="./imagenes de productos/cafe.png" alt="cafe nacionales e importados">
    <p class="titulo_seleccion">Café</p> </div>
<div class="seleccion_producto"> <img src="./imagenes de productos/especias.png" alt="especias nacionales e importados">
    <p class="titulo_seleccion">Especias</p> </div>
 <div class="seleccion_producto"> <img src="./imagenes de productos/picada.png" alt="Las más ricas picadas">
    <p class="titulo_seleccion">Picadas</p> </div>
    
<!--end cabecera de productos-->  
</section>

<!--comienza la sección galeria///////////////-->
<section class="categorias_productos">
<!--vinos////////////////////-->
<div class="separador"><h2 class="nombre_categoria">Vinos</h2></div>

<div class="categorias">
   <div class="foto_producto"> 
    <img src="./imagenes de productos/vino/vino1.png" alt="vinos importados"> </div>
        <div class="nombre_producto">
            <p> VINO TRAPICHE</p>
            <P>Malbec. Origen: Argentina</P></div>
</div>    

<div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/vino/vino2.png" alt="vinos importados"> </div>
         <div class="nombre_producto">
             <p> VINO TRAPICHE</p>
             <P>Malbec. Origen: Argentina</P></div>
 </div>    

 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/vino/vino3.png" alt="vinos importados"> </div>
         <div class="nombre_producto">
             <p> VINO TRAPICHE</p>
             <P>Malbec. Origen: Argentina</P></div>
 </div>    

 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/vino/vino4.png" alt="vinos importados"> </div>
         <div class="nombre_producto">
             <p> VINO TRAPICHE</p>
             <P>Malbec. Origen: Argentina</P></div>
 </div>    

 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/vino/vino5.png" alt="vinos importados"> </div>
         <div class="nombre_producto">
             <p> VINO TRAPICHE</p>
             <P>Malbec. Origen: Argentina</P></div>
 </div>    

 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/vino/vino6.png" alt="vinos importados"> </div>
         <div class="nombre_producto">
             <p> VINO TRAPICHE</p>
             <P>Malbec. Origen: Argentina</P></div>
 </div>    

 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/vino/vino7.png" alt="vinos importados"> </div>
         <div class="nombre_producto">
             <p> VINO TRAPICHE</p>
             <P>Malbec. Origen: Argentina</P></div>
 </div>    

 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/vino/vino8.png" alt="vinos importados"> </div>
         <div class="nombre_producto">
             <p> VINO TRAPICHE</p>
             <P>Malbec. Origen: Argentina</P></div>
 </div>    
<!--aceites/////////////////////-->
 <div class="separador"><h2 class="nombre_categoria">Aceites</h2></div>

 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/aceite/aceite1.png" alt="aceite importados"> </div>
         <div class="nombre_producto">
             <p> Aceite de oliva</p>
             <P>Aceite de oliva extra virgen. Origen: Italia</P></div>

            </div>  

            <div class="categorias">
 <div class="foto_producto"> 
     <img src="./imagenes de productos/aceite/aceite2.png" alt="aceite importados"> </div>
         <div class="nombre_producto">
             <p> Aceite de oliva</p>
             <P>Aceite de oliva extra virgen. Origen: Italia</P></div>

            </div>  
            <div class="categorias">
                <div class="foto_producto"> 
                 <img src="./imagenes de productos/aceite/aceite3.png" alt="aceite importados"> </div>
                     <div class="nombre_producto">
                         <p> Aceite de oliva</p>
                         <P>Aceite de oliva extra virgen. Origen: Italia</P></div>
            
                        </div> 
                        
             <div class="categorias">
                <div class="foto_producto"> 
                  <img src="./imagenes de productos/aceite/aceite4.png" alt="aceite importados"> </div>
                     <div class="nombre_producto">
                          <p> Aceite de oliva</p>
                          <P>Aceite de oliva extra virgen. Origen: Italia</P></div>
                        
               </div>    
               
               <div class="categorias">
                <div class="foto_producto"> 
                 <img src="./imagenes de productos/aceite/aceite5.png" alt="aceite importados"> </div>
                     <div class="nombre_producto">
                         <p> Aceite de oliva</p>
                         <P>Aceite de oliva extra virgen. Origen: Italia</P></div>
            
                        </div>  
                        <div class="categorias">
                            <div class="foto_producto"> 
                             <img src="./imagenes de productos/aceite/aceite6.png" alt="aceite importados"> </div>
                                 <div class="nombre_producto">
                                     <p> Aceite de oliva</p>
                                     <P>Aceite de oliva extra virgen. Origen: Italia</P></div>
                        
                                    </div>  
                                    <div class="categorias">
                                        <div class="foto_producto"> 
                                         <img src="./imagenes de productos/aceite/aceite7.png" alt="aceite importados"> </div>
                                             <div class="nombre_producto">
                                                 <p> Aceite de oliva</p>
                                                 <P>Aceite de oliva extra virgen. Origen: Italia</P></div>
                                    
                                                </div>  
                                                <div class="categorias">
                                                    <div class="foto_producto"> 
                                                     <img src="./imagenes de productos/aceite/aceite8.png" alt="aceite importados"> </div>
                                                         <div class="nombre_producto">
                                                             <p> Aceite de oliva</p>
                                                             <P>Aceite de oliva extra virgen. Origen: Italia</P></div>
                                                
                                                            </div>  
 <!--cafe/////////////////////-->                         
 <div class="separador"><h2 class="nombre_categoria">Café</h2></div>
 <div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/cafe/cafe1.png" alt="cafe importado"> </div>
         <div class="nombre_producto">
             <p> Melita</p>
             <P>Café molido intenso. Origen: Colombia</P></div>

            </div>  

            <div class="categorias">
                <div class="foto_producto"> 
                 <img src="./imagenes de productos/cafe/cafe2.png" alt="cafe importado"> </div>
                     <div class="nombre_producto">
                         <p> Melita</p>
                         <P>Café molido intenso. Origen: Colombia</P></div>
            
                        </div>
                        <div class="categorias">
                            <div class="foto_producto"> 
                             <img src="./imagenes de productos/cafe/cafe3.png" alt="cafe importado"> </div>
                                 <div class="nombre_producto">
                                     <p> Melita</p>
                                     <P>Café molido intenso. Origen: Colombia</P></div>
                        
                                    </div>
                                    <div class="categorias">
                                        <div class="foto_producto"> 
                                         <img src="./imagenes de productos/cafe/cafe4.png" alt="cafe importado"> </div>
                                             <div class="nombre_producto">
                                                 <p> Melita</p>
                                                 <P>Café molido intenso. Origen: Colombia</P></div>
                                    
                                                </div>
                                                <div class="categorias">
                                                    <div class="foto_producto"> 
                                                     <img src="./imagenes de productos/cafe/cafe5.png" alt="cafe importado"> </div>
                                                         <div class="nombre_producto">
                                                             <p> Melita</p>
                                                             <P>Café molido intenso. Origen: Colombia</P></div>
                                                
                                                            </div>
                                                            <div class="categorias">
                                                                <div class="foto_producto"> 
                                                                 <img src="./imagenes de productos/cafe/cafe6.png" alt="cafe importado"> </div>
                                                                     <div class="nombre_producto">
                                                                         <p> Melita</p>
                                                                         <P>Café molido intenso. Origen: Colombia</P></div>
                                                            
                                                                        </div>
                                                                        <div class="categorias">
                                                                            <div class="foto_producto"> 
                                                                             <img src="./imagenes de productos/cafe/cafe7.png" alt="cafe importado"> </div>
                                                                                 <div class="nombre_producto">
                                                                                     <p> Melita</p>
                                                                                     <P>Café molido intenso. Origen: Colombia</P></div>
                                                                        
                                                                                    </div>
                                                                                    <div class="categorias">
                                                                                        <div class="foto_producto"> 
                                                                                         <img src="./imagenes de productos/cafe/cafe8.png" alt="cafe importado"> </div>
                                                                                             <div class="nombre_producto">
                                                                                                 <p> Melita</p>
                                                                                                 <P>Café molido intenso. Origen: Colombia</P></div>
                                                                                    
                                                                                                </div>
<!--espacias///////////////////////-->
<div class="separador"><h2 class="nombre_categoria">Especias</h2></div>

<div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/especias/especias1.png" alt="especias importadas"> </div>
         <div class="nombre_producto">
             <p> Sabores</p>
             <P>Paprika ahumada. Origen: India</P></div>

            </div>
            <div class="categorias">
                <div class="foto_producto"> 
                 <img src="./imagenes de productos/especias/especias2.png" alt="especias importadas"> </div>
                     <div class="nombre_producto">
                         <p> Sabores</p>
                         <P>Paprika ahumada. Origen: India</P></div>
            
                        </div>
                        <div class="categorias">
                            <div class="foto_producto"> 
                             <img src="./imagenes de productos/especias/especias3.png" alt="especias importadas"> </div>
                                 <div class="nombre_producto">
                                     <p> Sabores</p>
                                     <P>Paprika ahumada. Origen: India</P></div>
                        
                                    </div>
                                    <div class="categorias">
                                        <div class="foto_producto"> 
                                         <img src="./imagenes de productos/especias/especias4.png" alt="especias importadas"> </div>
                                             <div class="nombre_producto">
                                                 <p> Sabores</p>
                                                 <P>Paprika ahumada. Origen: India</P></div>
                                    
                                                </div>
                                                <div class="categorias">
                                                    <div class="foto_producto"> 
                                                     <img src="./imagenes de productos/especias/especias5.png" alt="especias importadas"> </div>
                                                         <div class="nombre_producto">
                                                             <p> Sabores</p>
                                                             <P>Paprika ahumada. Origen: India</P></div>
                                                
                                                            </div>
                                                            <div class="categorias">
                                                                <div class="foto_producto"> 
                                                                 <img src="./imagenes de productos/especias/especias6.png" alt="especias importadas"> </div>
                                                                     <div class="nombre_producto">
                                                                         <p> Sabores</p>
                                                                         <P>Paprika ahumada. Origen: India</P></div>
                                                            
                                                                        </div>
                                                                        <div class="categorias">
                                                                            <div class="foto_producto"> 
                                                                             <img src="./imagenes de productos/especias/especias7.png" alt="especias importadas"> </div>
                                                                                 <div class="nombre_producto">
                                                                                     <p> Sabores</p>
                                                                                     <P>Paprika ahumada. Origen: India</P></div>
                                                                        
                                                                                    </div>
                                                                                    <div class="categorias">
                                                                                        <div class="foto_producto"> 
                                                                                         <img src="./imagenes de productos/especias/especias8.png" alt="especias importadas"> </div>
                                                                                             <div class="nombre_producto">
                                                                                                 <p> Sabores</p>
                                                                                                 <P>Paprika ahumada. Origen: India</P></div>
                                                                                    
                                                                                                </div>


<!--picadas/////////////////-->
<div class="separador"><h2 id="pic" class="nombre_categoria">Picadas</h2></div>

<div class="categorias">
    <div class="foto_producto"> 
     <img src="./imagenes de productos/picada/picada1.png" alt="Picadas gourmet"> </div>
         <div class="nombre_producto">
             <p> Picada mediterranea</p>
             <P>Picada premium</P></div>

            </div>
            <div class="categorias">
                <div class="foto_producto"> 
                 <img src="./imagenes de productos/picada/picada2.png" alt="Picadas gourmet"> </div>
                     <div class="nombre_producto">
                         <p> Picada mediterranea</p>
                         <P>Picada premium</P></div>
            
                        </div>
                        <div class="categorias">
                            <div class="foto_producto"> 
                             <img src="./imagenes de productos/picada/picada3.png" alt="Picadas gourmet"> </div>
                                 <div class="nombre_producto">
                                     <p> Picada mediterranea</p>
                                     <P>Picada premium</P></div>
                        
                                    </div>
                                    <div class="categorias">
                                        <div class="foto_producto"> 
                                         <img src="./imagenes de productos/picada/picada4.png" alt="Picadas gourmet"> </div>
                                             <div class="nombre_producto">
                                                 <p> Picada mediterranea</p>
                                                 <P>Picada premium</P></div>
                                    
                                                </div>
                                                <div class="categorias">
                                                    <div class="foto_producto"> 
                                                     <img src="./imagenes de productos/picada/picada5.png" alt="Picadas gourmet"> </div>
                                                         <div class="nombre_producto">
                                                             <p> Picada mediterranea</p>
                                                             <P>Picada premium</P></div>
                                                
                                                            </div>
                                                            <div class="categorias">
                                                                <div class="foto_producto"> 
                                                                 <img src="./imagenes de productos/picada/picada6.png" alt="Picadas gourmet"> </div>
                                                                     <div class="nombre_producto">
                                                                         <p> Picada mediterranea</p>
                                                                         <P>Picada premium</P></div>
                                                            
                                                                        </div>
                                                                        <div class="categorias">
                                                                            <div class="foto_producto"> 
                                                                             <img src="./imagenes de productos/picada/picada7.png" alt="Picadas gourmet"> </div>
                                                                                 <div class="nombre_producto">
                                                                                     <p> Picada mediterranea</p>
                                                                                     <P>Picada premium</P></div>
                                                                        
                                                                                    </div>
                                                                                    <div class="categorias">
                                                                                        <div class="foto_producto"> 
                                                                                         <img src="./imagenes de productos/picada/picada8.png" alt="Picadas gourmet"> </div>
                                                                                             <div class="nombre_producto">
                                                                                                 <h3> Picada mediterranea</h3>
                                                                                                 <P>Picada premium</P></div>
                                                                                    
                                                                                                </div>


</section>


<footer>
    <div class="footer_productos">

    </div>
</footer>
    




    
</body>
</html>