<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1 class="titulo_1">Nuestro catálogo</h1>

<div class="container_productos">
<!--cabecera de productos start-->
<div class="seleccion_producto"> <img src="./imagenes de productos/vino.png" alt="vinos nacionales e importados">
    <p class="titulo_seleccion">Vinos</p> </div>
<div class="seleccion_producto"> <img src="./imagenes de productos/aceite.png" alt="aceite nacionales e importados">
     <p class="titulo_seleccion">aceite</p> </div>
<div class="seleccion_producto"> <img src="./imagenes de productos/cafe.png" alt="cafe nacionales e importados">
    <p class="titulo_seleccion">Café</p> </div>
<div class="seleccion_producto"> <img src="./imagenes de productos/especias.png" alt="especias nacionales e importados">
    <p class="titulo_seleccion">Especias</p> </div>
 <div class="seleccion_producto"> <img src="./imagenes de productos/picada.png" alt="Las más ricas picadas">
    <p class="titulo_seleccion">Picadas</p> </div>
    
<!--end cabecera de productos-->  

    





</div>

    
</body>
</html>